* {
    margin: 0px;
    padding: 0px;
}

@-webkit-keyframes cssAnimation {
    from {
      -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(-300px);
    }
    to {
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    }
  }

  @-webkit-keyframes cssAnimation1 {
    from {
      -webkit-transform: rotate(90deg) scale(1) skew(0deg) translate(0px);
    }
    to {
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    }
  }

  @-webkit-keyframes cssAnimation2 {
    from {
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-300px);
    }
    to {
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    }
  }

  @keyframes example {
    0% {background-color: slategray;}
    50% {background-color: black;}
    100%{background-color: slategray;
         translate: 600px;
        }
    
  }

body {
    background-color: black;
}

nav {
    background-color: white;
    color: black;
    width: 9%;
    margin:0px;


    /* -webkit-animation-name: cssAnimation;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: backwards; */
}

.navul {
    list-style-type: none;
    display: flex;
    flex-direction: column;   
}

.navli {
    margin: 2.5vh;
    padding: 1vh;
    text-align: center;
}

.navlink {
    color: black;
    text-decoration: none;
}

.navlinkon {
    background-color: black;
    color: white;
    text-decoration: none;
}

.navlinkon:hover {
    background-color: slategray;
    color: white;
    text-decoration: none;
}

.navlink:hover {
    background-color: slategrey;
    color: white;
}

.arrowup {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 5vh;
    padding: 3vh 3vh 3vh 3vh;
    margin: 0px;    
}

.arrowdown {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 4vh;
    padding: 3vh 3vh 3vh 3vh;
    margin: 0px;
}

.arrowup:hover {
    animation: example 2s infinite;
}

.arrowdown:hover {
    background-color: white;
    color: black;
}

.menulink {
    text-decoration: none;
}

.arrownone {
    display: none;
}

/* Calc */

.mainCalc {
  border: 5px solid black;
  border-radius: 50px;
  height: 90vh;
  margin-top: 5vh;
  box-shadow: 5px 5px 5px grey;
}

.outputarea {
  border: 2px solid black;
  border-radius: 50px;
  margin: 1vh;
  height: 15vh;
}

.parea {
  padding-top: 5vh;
  padding-left: 3vh;
  font-size: 3vh;
  border: none;
}

.btnsdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 10vh;
  margin: 10px;
  font-size: 2vh;
}

.btna {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 12vh;
  height: 12vh;
  font-size: 2.25vh;
  margin: 10px;
  box-shadow: 5px 5px 5px;
}

.btna:hover {
  box-shadow: none;
}

.btnaequals {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 51.1vh;
  height: 12vh;
  font-size: 2.25vh;
  margin: 10px;
  box-shadow: 5px 5px 5px;
}

.footer {
  text-align: center;
  margin-top: 2vh;
}