* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

nav {
    background-color: white;
    color: black;
    width: 9%;
}

.navul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.navli {
    margin: 2.5vh;
    padding: 1vh;
    text-align: center;
}

.navlink {
    color: black;
    text-decoration: none;
}

.navlinkon {
    background-color: black;
    color: white;
    text-decoration: none;
}

.navlinkon:hover {
    background-color: slategray;
    color: white;
    text-decoration: none;
}

.navlink:hover {
    background-color: slategrey;
    color: white;
}

.arrowup {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 5vh;
    padding: 3vh 3vh 3vh 3vh;
    margin: 0px;
}

.arrowdown {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 4vh;
    padding: 3vh 3vh 3vh 3vh;
    margin: 0px;
}

.arrowup:hover {
    background-color: slategray;
    color: white;
}

.arrowdown:hover {
    background-color: white;
    color: black;
}

.menulink {
    text-decoration: none;
}

.arrownone {
    display: none;
}